language: node_js

env:
  global:
    - HOST=0.0.0.0

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - npm i -g yarn@latest

install:
  - yarn install --frozen-lockfile

matrix:
  include:
    - node_js: lts/dubnium
      name: 'Test on Node.js 10'
      script: 'yarn test --maxWorkers=2 --ci'
    - node_js: lts/*
      name: 'Test on Node.js 12'
      before_script:
        - 'commitlint-travis'
        - 'yarn lint'
      script: 'yarn test --maxWorkers=2 --ci'
    - node_js: 'lts/*'
      name: 'Canarist test on Node.js lts/*'
      script: 'yarn canarist'
