@import url(imported-from-css.css);
@import '@vishnucss/chips';
@charset 'utf-8';

.headline {
  composes: compose from './for-composing.css';
  composes: chips from '@vishnucss/chips';
  padding: var(--spacing-xl);
  color: aqua;
  position: sticky;
  font-family: system-ui;
}
