@import url(imported-from-css.css);
@import '@zendeskgarden/css-buttons';

.headline {
  composes: compose from './for-composing.css';
  composes: c-btn--pill from '@zendeskgarden/css-buttons';
  padding-left: var(--zd-btn-line-height);
  color: aqua;
  position: sticky;
  font-family: system-ui;
}
