:root {
  --font-family-sans: 'Helvetica Neue', Arial, sans;
  --font-size: 2rem;
  --primary-color: rebeccapurple;
}

body {
  text-align: center;
  color: var(--primary-color);
}

.headline {
  margin-top: 2em;
  display: inline-block;

  font-family: var(--font-family-sans);
  font-size: var(--font-size);
}

.headline::after {
  content: ' 🚀';
}
